.App {
  margin:30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.square {
  display: block;
  height: 50px;
  width: 50px;
  font-size: 2rem;
}

.content {
  height: 30px;
  width: 150px;
  font-size: 1.5rem;
  margin: auto;
  padding: 20px;
}

.game {
  display: flex;
  background-color: #c8e8f0;
  width: 900px;
  height: 400px;
  padding: 30px;
  margin: 0 auto;

  margin-top: 50px;
}

/* 这三个是最最外框的元素 */
.history-info1 {
  flex: 1;
  text-align: center;
  background-color: antiquewhite;
  padding-top: 20px;
}

.history-info2 {
  flex: 1;
  text-align: center;
  background-color: rgb(32, 248, 165);

}
.history-info2 >div {
  font-size: 2rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.broad {
  flex: 1;
}


.move_des {
  width: 80%;
  height: 24px;
  margin: 4px;
}

.history-buttom {
  padding: auto;
}